[core]
	excludesFile = ~/.config/git/ignore
	pager = delta
	editor = nvim

[interactive]
	diffFilter = delta --color-only

[delta]
	line-numbers = true
	navigate = true  # use n and N to move between diff sections
	light = false

[alias]
	merge-branch = merge --log --no-commit --no-ff
	fix-submodules = submodule update --recursive --init

[branch]
	sort = -committerdate

[color]
	diff = auto
	status = auto
	branch = auto

[commit]
	gpgsign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[merge]
	conflictstyle = diff3
	ff = false

[diff]
	colorMoved = default

[pull]
	rebase = true

[push]
	followTags = true

[rerere]
	enabled = true

[user]
	name = Bohdan Pavlov 
	email = bohdan.pavlov.o@gmail.com
	signingkey = 0xAE0D6A60BDBBEA7F
	
[commit]
	gpgsign = true
[init]
	defaultBranch = main
